<template>
  <v-alert
    v-if="errors.length > 0"
    icon="fa-solid fa-triangle-exclamation"
    title="Uh oh!"
    type="error"
    closable
  >
    <template v-slot:text>
      <p v-for="error in errors">{{ error }}</p>
    </template>
  </v-alert>
</template>

<script>
export default {
  name: 'AlertErrors',
  data() {
    return {
      errors: [],
    }
  },
  methods: {
    handleException(e) {
      if (e.response?.data?.errors ?? false) {
        this.errors = e.response.data.errors.map(({ message }) => message)
      } else {
        this.errors = [e.toString()]
      }
    },
    reset() {
      this.errors = []
    },
  },
  expose: ['handleException', 'reset'],
}

</script>
