<template>
  <v-sheet>
    <v-container>
      <h1>Ballot Access Edit</h1>
      <v-spacer/>
      <v-form @submit.prevent="saveData">
        <v-row>
          <v-col>
            <v-autocomplete
              v-model="selectedStateCode"
              label="State"
              :items="stateItems"
              item-title="name"
              item-value="code"
              :loading="loading"
              autofocus
            />
          </v-col>
        </v-row>

        <div v-if="selectedStateData">
          <v-row>
            <v-col cols="12" lg="4">
              <v-text-field
                label="Signatures Required"
                v-model="selectedStateData.signaturesRequired"
                type="number"
                min="0"
                clearable
              />
            </v-col>
            <v-col cols="12" lg="4">
              <v-text-field
                label="Start Date"
                v-model="selectedStateData.startDate"
                type="date"
                clearable
              />
            </v-col>
            <v-col cols="12" lg="4">
              <v-text-field
                label="Deadline Date"
                v-model="selectedStateData.deadlineDate"
                type="date"
                clearable
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-autocomplete
                label="Status"
                v-model="selectedStateData.status"
                :items="statusItems"
                item-title="title"
                item-value="value"
                required
              />
            </v-col>
            <v-col cols="12" lg="6">
              <v-text-field
                label="Slack Channel"
                v-model="selectedStateData.channel"
                prefix="#"
                clearable
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Campaign Link"
                v-model="selectedStateData.campaignLink"
                type="url"
                clearable
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="State Link"
                v-model="selectedStateData.stateLink"
                type="url"
                clearable
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-textarea
                label="Note"
                v-model="selectedStateData.note"
                clearable
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="primary" type="submit" :disabled="!readyToSave" :loading="loading">Save</v-btn>
            </v-col>
            <v-col class="text-right">
              <v-btn color="muted" type="reset" :disabled="!readyToSave" :loading="loading">Reset</v-btn>
            </v-col>
          </v-row>

          <AlertErrors ref="errors" class="mt-4"/>
        </div>
      </v-form>
    </v-container>
  </v-sheet>
</template>

<script>
import AlertErrors from '../components/AlertErrors.vue'

export default {
  components: { AlertErrors },
  data() {
    return {
      loading: false,
      statesData: [],
      selectedStateCode: null,
      statusItems: [
        { title: 'Official Write-In Candidate', value: 'not-open' },
        { title: 'Pending State Certification', value: 'need-electors' },
        { title: 'On Ballot', value: 'on-ballot' },
        { title: 'No Write-In Option', value: 'no-write-in' },
      ],
    }
  },
  created() {
    // watch the params of the route to fetch the data again
    this.$watch(
      () => this.$route.params,
      () => {
        this.fetchData()
      },
      // fetch the data when the view is created and the data is
      // already being observed
      { immediate: true },
    )
  },
  computed: {
    readyToSave() {
      return !this.loading && this.selectedStateCode
    },
    stateItems() {
      return Object.values(this.statesData).map(({ code, name }) => ({ code, name }))
    },
    selectedStateData() {
      return this.statesData[this.selectedStateCode]
    },
  },
  methods: {
    async fetchData() {
      this.statesData = []
      this.loading = true
      const resp = await this.$apiClient.get('/ballot-access-state')
      this.statesData = resp.data
      this.loading = false
    },

    async saveData() {
      try {
        this.$refs.errors.reset()
        this.loading = true
        await this.$apiClient.patch(`/ballot-access-state/${this.selectedStateCode}`, this.selectedStateData)
        this.$router.push({ name: 'ballot-access-map', params: { state: this.selectedStateCode } })
      } catch (e) {
        this.$refs.errors.handleException(e)
      }
      this.loading = false
    },
  },
}
</script>
