<template>
  <v-container fluid>
    <iframe class="position-absolute" style="top: 0; left: 0; height: 100%; width: 100%;" :src="src" />
  </v-container>
</template>

<script>
export default {
  props: {
    state: { required: false, type: String },
  },
  data() {
    let src = '/petitioning_launch'
    if (this.state) {
      src += `#${this.state}`
    }
    return {
      src,
    }
  },
}
</script>
