<template>
  <v-sheet>
    <v-container>
      <h1>Login</h1>
      <v-spacer/>
      <v-form @submit.prevent="login">
        <v-row>
          <v-col>
            <v-text-field
              label="Email"
              v-model="email"
              type="email"
              clearable
              required
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              label="Password"
              v-model="password"
              type="password"
              clearable
              required
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn color="primary" type="submit" :disabled="!ready" :loading="loading">Login</v-btn>
          </v-col>
        </v-row>
        <AlertErrors ref="errors" class="mt-4"/>
      </v-form>
    </v-container>
  </v-sheet>
</template>

<script>
import useAuthStore from '../stores/auth.js'
import AlertErrors from '../components/AlertErrors.vue'

export default {
  components: { AlertErrors },
  data() {
    return {
      loading: false,
      email: '',
      password: '',
    }
  },
  computed: {
    ready() {
      return !this.loading && this.email.length > 0 && this.password.length > 0
    },
  },
  methods: {
    async login() {
      try {
        this.$refs.errors.reset()
        this.loading = true
        const authStore = useAuthStore()
        await authStore.login(this.email, this.password)
      } catch (e) {
        this.$refs.errors.handleException(e)
      }
      this.loading = false
    },
  },
}
</script>
